.bgimage {
    background-image: url('./img/bgimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.con-blog {
    margin: auto;
    border: 1px solid black;
    border-radius: .375rem;
    padding: 65px;
    position: relative;
    z-index: 2;

}

.blog-form {
    margin-top: 30px;
}